/*#region NORMAL*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-image: url('./img/Background_City/city 4/10.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

canvas {
    display: block;
    width: 720px;
    height: 480px;
    background-image: url('./img/Background_City/city 1/11.png');
}

.canvas-frame {
    width: 720px;
    height: 480px;
    background-color: black;
    z-index: 0;
    background-image: url('./img/Background_City/city 1/11.png');
    background-size: cover;
    background-position: bottom;
    border-radius: 24px;
}

.canvas-outerframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 520px;
    background-color: black;
    z-index: 1;
    background-image: url('./img/GUI/PNG/Level_Menu/Window.png');
    background-position: center;
    border-radius: 24px;
}

.player {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: red;
}

.settings {
    position: absolute;
    z-index: 1;
    top: 185px;
    width: 765px;
    height: 523px;
    background-color: black;
    border-radius: 24px;
    display: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 9999; */
    /* position: relative; */
}

.upper-right {
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons {
    background-color: rgba(255, 0, 0, 0.5);
    /* temporary debug color */
    border: 2px solid white;
    /* position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    width: 650px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.container .buttons .start-btn {
    background-image: url('./img/GUI/PNG/Main_Menu/Start_BTN.png');
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    border-radius: 24px;
    width: 250px;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    border: none;
}

.container .buttons .settings-btn {
    background-image: url('./img/GUI/PNG/Main_Menu/Settings_BTN.png');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
}

.container .buttons .exit-btn {
    background-image: url('./img/GUI/PNG/Main_Menu/Exit_BTN.png');
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    border-radius: 24px;
    width: 250px;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    border: none;
}

.d_none {
    display: none;
}

.black {
    background-image: none;
    background-color: black;
}

/*#endregion NORMAL*/

/* #region SMARTPHONES*/
@media only screen and (max-width: 1024px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 768px) {
    canvas {
        height: 100vh;
    }
}

/* #endregion SMARTPHONES*/