/*#region NORMAL*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-image: url('./img/Background_City/city 4/10.png');
    background-position: center;
    background-size: cover;
    margin: 0;
    background-color: black;
    height: 100vh;
}

canvas {
    display: block;
    width: min(100vw, 720px);
    height: auto;
    aspect-ratio: 720 / 480;
    background-image: url('./img/Background_City/city 1/11.png');
}

h1 {
    font-size: 54px;
    font-weight: 800 !important;
    padding: 24px;
    color: #e3f4f7;
    background-color: #272f4f;
    border-radius: 24px;
    border: solid 4px #dcf3f2;
}

h2 {
    text-decoration: underline;
    font-size: 48px;
    margin-bottom: 8px;
}

p {
    margin: 8px;
    font-weight: 600;
}

.canvas-frame {
    width: 720px;
    height: 480px;
    background-color: black;
    z-index: 0;
    background-image: url('./img/Background_City/city 1/11.png');
    background-size: cover;
    background-position: bottom;
    border-radius: 24px;
}

.canvas-outerframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 520px;
    background-color: black;
    z-index: 1;
    background-image: url('./img/GUI/PNG/Level_Menu/Window.png');
    background-position: center;
    border-radius: 24px;
}

.player {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: red;
}

.settings {
    position: absolute;
    z-index: 1;
    top: 185px;
    width: 765px;
    height: 523px;
    background-color: black;
    border-radius: 24px;
    display: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burgermenu {
    position: relative;
    bottom: 220px;
    right: 75px;
    z-index: 11;
}

#burgermenu.open-menu {
    background-color: #272f4f;
}

#burgermenu img {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
}

#burgermenu:hover {
    cursor: pointer;
}

.upper-right {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262d4a;
    height: 300px;
    width: 200px;
    gap: 24px;
    border-radius: 24px;
    padding: 64px;
    cursor: default;
}

.upper-right img {
    width: 24px;
    height: 24px;
}


.upper-right button {
    padding: 0.5rem;
    border-radius: 12px;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    border: none;
    background-color: #272f4f;
    border: solid 2px #dcf3f2;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 12px;
    transition: all 200ms ease-in-out;
}

.upper-right button:hover {
    transform: scale(1.05);
}

button {
    cursor: pointer;
}



.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    position: relative;
    top: 10vh;
}

.container .buttons .start-btn {
    padding: 0.5rem;
    border-radius: 12px;
    width: 250px;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    border: none;
    background-color: #272f4f;
    border: solid 2px #dcf3f2;
    font-size: 24px;
    font-weight: 600;
}

.container .buttons .settings-btn {
    background-image: url('./img/GUI/PNG/google/settings.svg');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    background-color: #272f4f;
    border: solid 2px #dcf3f2;
    font-size: 24px;
}

.container .buttons .exit-btn {
    background-image: url('./img/GUI/PNG/Main_Menu/Exit_BTN.png');
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    border-radius: 24px;
    width: 250px;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    border: none;
}

.protection-landscape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 24px;
    z-index: 9999;
    text-align: center;
    flex-direction: column;
}

.instructions {
    position: absolute;
    top: 28vh;
    width: 500px;
    aspect-ratio: 1/1;
    background-color: #2c385f;
    border-radius: 24px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border: solid 4px #262d4a;
    z-index: 10;
}

.close-btn {
    background-image: url('./img/GUI/PNG/google/close.svg');
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 16px;
    border: solid 4px #262d4a;
    background-color: #2c385f;
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: all 200ms ease-in-out;
}

.close-btn:hover {
    background-color: #272f4f;
}

.d_none {
    display: none;
}

.black {
    background-image: none;
    background-color: black;
}

.move,
.action {
    display: flex;
    padding: 8px 0;
}

.controller {
    display: none;
}

.controller-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invert {
    filter: invert();
}

.rotate {
    transform: rotateZ(180deg);
}

/*#endregion NORMAL*/

/* #region Impressum*/
.background {
    padding: 0;
    background-color: #3b55c0 !important;
    background-image: none;
    color: white;
}

/*#endregion Impressum*/


/* #region SMARTPHONES*/
@media only screen and (max-width: 1024px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 1000px) {
    canvas {
        height: 100vh;
    }
}

@media(max-width:1440px) {
    .canvas-outerframe {
        width: 550px;
        height: 350px;
    }

    .canvas-frame {
        width: 500px;
        height: 300px;
    }

    h1 {
        display: none;
        font-size: 16px;
    }

    .controller {
        display: flex;
        position: relative;
        top: -25px;
        z-index: 20;
        width: 50%;
        gap: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #272f4f;
        border: solid 2px whitesmoke;
        border-radius: 8px;
    }
}

@media(max-width:800px) {
    .canvas-outerframe {
        width: 350px;
        height: 350px;
    }

    .canvas-frame {
        width: 300px;
        height: 300px;
    }
}

@media(max-height:1400px) {
    #burgermenu {
        position: relative;
        bottom: 145px;
        right: 75px;
        z-index: 11;
    }
}

@media(max-height:600px) {

    .upper-right {
        right: 0px;
        height: 180px;
        gap: 8px;
    }


    .buttons {
        gap: 8px !important;
    }

    .start-btn {
        width: 100px !important;
        font-size: 16px !important;
    }

    .instructions {
        top: 8px;
        width: 250px;
        height: 300px;

        >h2 {
            font-size: 16px !important;
        }

        >p {
            font-size: 16px !important;
            margin: 4px;
            text-align: center;
        }
    }
}

/* #endregion SMARTPHONES*/