body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background-image: url('./img/Background_City/city 4/10.png');
    background-position: center;
    background-size: cover;
}

.canvas-frame {
    width: 720px;
    height: 480px;
    background-color: black;
}

.player {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: red;
}